@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

/* Layout */
body {
  background-color: #f6f6f6;
}

#patternPage {
  max-width: 960px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 0 1px 0px 1px;
}

#patternLeftBar {
  display: none;
}

#patternOuter {
  margin: 0;
}

/* Fonts and text styling */
#patternPage {
  font-size: 130%;
  line-height: 130%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  color: #FE3200;
  background: none;
}

pre, code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
  color: #333;
}

pre {
  background-color: #f6f6f6;
  border: 1px solid #e2e2e2;
  padding: 1em 1.5em;
}

.patternContent a {
  color: #0935B1 !important;
  border: none !important;
}

.patternContent a:hover {
  text-decoration: underline !important;
  background: none !important;
}

.patternContent h1 a,
.patternContent h2 a,
.patternContent h3 a,
.patternContent h4 a,
.patternContent h5 a,
.patternContent h6 a {
  color: #FE3200 !important;
}

/* Don't show external link images */
a[target=_blank] img {
  display: none;
}

a[target="_blank"]:after {
  content: "\f29f";
  font-family: "Ionicons";
  font-size: 0.8em;
  padding-left: 0.25em;
}

a[href$=".pdf"]:after {
  content: "\f12f";
  font-family: "Ionicons";
  font-size: 0.8em;
  padding-left: 0.25em;
}

/* Breadcrumbs */
.patternHomePath a:link {
  margin-right: 0.5em;
  border: none;
  color: #666;
}

/* The first link to the TWiki homepage, and I've never clicked on it */
.patternHomePath > :first-child {
  display: none;
}

.patternHomePath a:link:after {
  content: "\f10a";
  font-family: "Ionicons";
  font-size: 0.8em;
  padding-left: 0.75em;
}

.patternHomePath a:link:last-of-type:after {
  content: none;
}

.patternHomePath a:link:hover {
  color: #666;
  background: none;
  text-decoration: underline;
}

.patternHomePath .twikiSeparator {
  display: none;
}

.patternHomePath img {
  display: none;
}

.patternHomePath .patternRevInfo a {
  margin: 0;
}

.patternHomePath .patternRevInfo a:after {
  content: none;
}

/* Table of contents */
.twikiToc {
  display: inline-block;
  background-color: #f6f6f6;
  border: 1px solid #e2e2e2;
  padding: 1em;
}

.twikiToc:before {
  content: 'Table of contents';
  display: block;
  font-family: 'Source Serif Pro';
  font-size: 1.1em;
  margin: 0 0 0.5em 0;
}

ul, .twikiToc ul {
  margin: 0 0 0 1.1em;
  padding: 0;
  list-style: disc inside none;
}

li, .twikiToc li {
  margin: 0;
  padding: 0;
  background-image: none;
  list-style-position: outside;
}

textarea.twikiTextarea {
  font-family: 'Source Code Pro', monospace;
}

/* Action buttons */
.patternToolBar > span a:link {
  display: inline-block;
  margin: 0 0.25em;
  padding: 0.25em 0.4em 0.25em 0.5em;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: none;
  font-size: 0.8em;
  font-weight: 400;
}

.patternToolBar > span a:link:hover {
  position: relative;
  top: 1px;
  background: #f9f9f9;
}

.patternToolBar > span a:link:active {
  position: relative;
  top: 2px;
  background: #f3f3f3;
}

.patternToolBar > span img {
  display: none;
}

.patternToolBar .twikiAccessKey {
  border: none;
  font-weight: 600;
}

.patternToolBar a:hover .twikiAccessKey {
  border: none;
  text-decoration: underline;
}

/* Put a little pencil next to the "Edit" action button,
 * presumed to be the first in the list
 */
.patternToolBar > span:first-child .twikiAccessKey:before {
  content: "\f2bf";
  font-family: "Ionicons";
  font-weight: 400;
  font-size: 0.8em;
  padding-right: 0.25em;
}

/* Editor buttons */
.patternTopicActions, .patternTopicAction {
  background: none;
}

.twikiButton, .twikiSubmit {
  display: inline-block;
  margin: 0 0.25em;
  padding: 0.25em 0.4em 0.25em 0.5em;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: none;
  font-weight: 400;
  cursor: pointer;
}

.twikiButton:hover, .twikiSubmit:hover {
  position: relative;
  top: 1px;
}

.twikiButton:active, .twikiSubmit:active {
  position: relative;
  top: 2px;
}

.twikiSubmit {
  color: #fff;
  background-color: #0078e7;
  border: none;
}

.twikiButtonCancel {
  color: #fff;
  background-color: #ca3c3c;
  border: none;
}

.patternSigLine {
  display: none;
}

/* Upload form */
.twikiFormSteps {
  background: none;
}

.twikiFormStep {
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.twikiFormStep:last-child {
  border-bottom: none;
}

/* Footer */
#patternBottomBar {
  display: none;
}
